<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage_styles.css">
    <title>Feedo | Feedback and Do</title>
</head>
<body>
    <div class="container">
        <div class="home_image_conatiner" id="background">
            
        </div>
        <div class="home_text_container">
            <h1 class="logo">Feedo</h1>
            <p class="subtitle">Feedback and Do.</p>
            <div class="btn_container">
                <a href="/signin"><button class="primaryBtn">Sign In</button></a>
            <a href="/signup"><button class="primaryBtn">Sign Up</button></a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>
   <script>
    VANTA.TRUNK({
      el: "#background",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x783ca4,
      backgroundColor: 0xf9f9f9,
      chaos : 1,
      spacing : 0
    })
    </script>
</body>
</html>