<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedo | signup</title>
    <link rel="stylesheet" href="css/login_styles.css">

</head>
<body>
    <div class="container">
        <div class="signin_image" id="background">
            <div class="logo_container">
                <span class="logo">FEEDO</span>
            </div>
        </div>
        <div class="credentials_section">
            <!-- <div class="content"> -->
                <!-- Different sections for different stages of registration -->
                <div class="content" id="user_type_section">
                    <h2 class="signHeading">Who are you?</h2>
                            <div class="user_type_icons_container">
                                <button class="user_type_icons" id="employeeBtn">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/dqxvvqzi.json"
                                        trigger="hover"
                                        colors="outline:#121331,primary:#e2a7d4,secondary:#4bb3fd"
                                        style="width:150px;height:150px">
                                    </lord-icon>
                                    <p>Employee</p>
                                </button>
                                <button class="user_type_icons" id="OrganizationBtn">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/flvisirw.json"
                                        trigger="hover"
                                        colors="primary:#215ad5,secondary:#e2a7d4,tertiary:#ebe6ef"
                                        style="width:150px;height:150px">
                                    </lord-icon>
                                    <p>Organization</p>
                                </button>
                            </div>
                        <p>Already a user? <a href="/signin">Sign In</a></p>
                </div>
                <!-- Individual register section -->
                <div class="content" id="employee_register_section">
                    <h2 class="signHeading">Let's setup your account</h2>
                    <div class="form_container">
                        <form action="/signup?type=Employee" method="POST" id="employeeRegistrationForm">
                            <input type="text" name="employeeName" class="credentials_input" id="EmployeeName" placeholder="Name" required>
                            <input type="email" name="email" class="credentials_input" id="EmailEmployee" placeholder="Email" required>
                            <input type="password" name="password" class="credentials_input" id="PasswordEmployee" placeholder="Password" required>
                            <input type="text" name="confirmPassword" class="credentials_input" id="ConfirmPasswordEmployee" placeholder="Confirm Password" required>
                            <button type="submit" class="primaryBtn">Sign Up</button>
                        </form>

                    </div>
                    <p>Already a user? <a href="/signin">Sign In</a></p>
                </div>
                <!-- Organization credentials screen -->
                <form class="content" action="/signup?type=Organization" method="POST" id="organizationRegistrationForm">
                    <div class="organization_" id="organizations_register_section">
                        <h2 class="signHeading">Let's setup your account</h2>
                        <div class="form_container">
                                <input type="email" name="email" class="credentials_input" id="EmailOrganization" placeholder="Email" required>
                                <input type="password" name="password" class="credentials_input" id="PasswordOrganization" placeholder="Password" required>
                                <input type="text" name="confirmPassword" class="credentials_input" id="ConfirmPasswordOrganization" placeholder="Confirm Password" required>
                                <input type="text" name="OrganizationName" id="OrganizationName" class="credentials_input" placeholder="Organization Name" required>
                                <input type="number" name="TeamSize" min="0" max="1000" id="TeamSize" class="credentials_input" placeholder="Team size" required>
                                <select name="category" id="OrganizationCategory" class="credentials_input" required>
                                    <option value="" disabled selected>Select Category</option>
                                    <option value="Services">Services</option>
                                    <option value="Products">Product</option>
                                </select>
                                <button type="submit" class="primaryBtn" id="OrganizationCredentialsSubmit">Sign Up</button>
                        </div>
                        <p>Already a user? <a href="/signin">Sign In</a></p>
                    </div>
                    
                </form>
               
        </div>
   </div>
   <!-- Scripts for the background- vanta.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>
   <script>
    VANTA.TRUNK({
      el: "#background",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x783ca4,
      backgroundColor: 0xf9f9f9
    })
    </script>
    <!-- script for the aimating icons -->
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <!-- script to handle the registration page -->
    <script src="js/signUpSectionsHandler.js"></script>
</body>
</html>