<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Feedo</title>
    <link rel="stylesheet" href="css/welcome_page_style.css">
</head>
<body>
    <div class="container">
        <div class="logo_container">
            <span class="logo">FEEDO</span>
        </div>
        <div class="greeting_container">
            <h1 class="greeting">Welcome.</h1>
            <p class="greeting_msg">You are now a part of Feedo</p>
            <a href="/signin"><button class="primaryBtn">Sign In</button></a>
        </div>
        <!-- waves -->
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</body>
</html>